html,body{
    height: 100%;
    width: 100%;
  
  }
  body{
    /* The image used */
    background-image:url("../img/4ff28a9823b64d31d17bd0411c6126bd_L.jpg") ;
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
  }
  
  body::before{
    content: '';
    display: block;
    background: inherit;
    position: absolute;
    width: 70%; height: 100%;
    left: 0; top: 0;
    transform: scale(1.2,1.4);
  }
  
  .vdivide [class*='col-6']:not(:last-child):after {
      background: #e0e0e0;
      width: 1px;
      content: "";
      display:block;
      position: absolute;
      top:0;
      bottom: 0;
      right: 0;
      min-height: 70px;
  }
  .fondo-blur{
    position: relative;
    overflow: hidden;
  }
  
  .fondo-blur::before{
    content: '';
    display: block;
    background: inherit;
    position: absolute;
    width: 100%; height: 100%;
    left: 0; top: 0;
    transform: scale(1.2,1.4);
  }