#Progress {
    position:absolute;
    width:auto;
    height: 30px;
    background-color: #ddd;
  }
  
  #progress-bar {
    position:inherit;
    width: 0%;
    height:auto;
    background-color: #4CAF50;
  }
  